.todoAdder {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  width: 60%;
}

.todoAdder form input {
  width: 100%;
  font-size: 1.5em;
}

.todoAdder:hidden {
  opacity: 0%;
}

.errorMessage {
  color: #d0451b;
  font-size: 1.5em;
  font-style: bold;
  text-align: center;
}
